.caseStudy-flex{
    padding:100px 0px;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    gap:2px;
}

.caseStudy-flex>div{
    width: 100%;
    height:400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    transition: all ease-in;
    overflow: hidden;
   
}
.case-study-card{
    background-size:cover;
    background-position:center;
    transition: all ease-in;
    position: relative;
    cursor:pointer;

}
.one{
    background-image: url(../background-images/case-studies/Engineering.jpg);
   

}
.two{
    background-image: url(../background-images/case-studies/interior.jpg);
   

}
.three{
    background-image: url(../background-images/case-studies/matrimony.jpg);
   
}
.four{
    background-image: url(../background-images/case-studies/backgroundAgency.jpg);
   

}

h2{
    font-size:54px;
    mix-blend-mode:luminosity;
    transition: all ease-in;

}
p{
    font-size:18px;
    transition: all 100ms
}
.overlay{
    position: relative;
    width:100%;
    height:100%;
    /* background-color:rgba(0, 0, 0, 0.562); */
}
.center{
    height:100%;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    position: relative;

}

.case-study-card:hover .overlay{
    background-color:rgba(0, 0, 0, 0.562);
    z-index:2;
    transition: font-size 0.3s ease;

}
.case-study-card:hover h2{
    font-size:34px;
    transition: font-size 0.3s ease;
    

}
.case-study-card:hover p{
    font-size:13px;
    transition: all 100ms

}
.case-study-card:hover .center{
    z-index: -10;


}

.translated-content{
    width:100%;
    position: absolute;
    bottom: 20px;
    transform: translateY(300px); 
    transition: transform 0.5s ease; 
    z-index: 999;
    margin:0 auto;
}

.case-study-card:hover .translated-content {
    transform: translateY(0); 
}

@keyframes toTop {
    0%{
        opacity: 0;
        transform: translateY(300px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}


.caseStudyIcon{
    width:150px;
    background-color:#f4f4f4;
    padding:15px;
    border-radius:5px;
    box-shadow: 0 0 2px 2px #a69999

}


.results{
    background-color:#188ff4;
    padding:30px 0px;
    border-radius:20px;
    text-align:center;
}

.resultCard{
    padding:10px;
    text-align:center;
    background-color:#fafafa;
    border-radius:15px;
    height:130px;
    box-shadow: inset 0 0 10px #5a5151;
    margin:10px 0px;

}
.newresultCard{
    padding:10px;
    text-align:center;
    background-color:#fafafa;
    border-radius:15px;
    height:340px;
    box-shadow: inset 0 0 10px #5a5151;
    margin:10px 0px;

}
.resultCard h3{
    font-size:32px;
    font-weight:800;
    color:#188ff4;
    padding:5px 0px; 

}
.newresultCard h3{
    font-size:30px;
    font-weight:600;
    color:#188ff4;
    padding:5px 0px; 

}
.resultCard p{
    font-size:16px;
    padding:5px;
    line-height: 20px;
}
.newresultCard p{
    font-size:16px;
    padding:5px;
}
.titleIcon{
    color:#fff;
    font-size:34px;
    font-weight:600;
    padding:10px 0 30px 0 ;
}
.titleIcon::after{
    content:"";
    position:absolute;
    top:10px;
    border:5px solid #fff;
    width:20px;
    height:10px;
}

@media only screen and (max-width: 768px){
    .caseStudy-flex{
        flex-direction: column;
        gap: 0;
    }
}